
    <!-- Sidebar -->
    <!--<nav id="sidebar-wrapper">
       
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
               CSS
            </li>
            {% for page in site.pages %}
             <li>
                <a href="{{page.url}}">{{page.title}}</a>
            </li>
            {% endfor %}
        </ul>
        
    </nav>-->


    <!-- Sidebar -->
    <nav id="sidebar-wrapper">
       
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
               CSS
            </li>
             <li>
                <a href="{{base.url}}/alerts">Alerts</a>
            </li>
            <li>
                <a href="{{base.url}}/buttons">Buttons</a>
            </li>
            <li>
                <a href="{{base.url}}/forms">Forms</a>
            </li>
        </ul>
        
    </nav>

