<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  </div>
  
  <nav id="menu">
   <div class="navbar navbar-inverse">
        <div id="navbar" class="collapse navbar-collapse" >
            <ul class="nav navbar-nav sidebar-menu">
                <li><a href="#">Teste</a></li>
                 <li><a href="#">Alerts</a></li>
            </ul>
        </div>   
   </div>
</nav>