<div id="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar-wrapper">
       
        <ul class="sidebar-nav">
            <a href="javascript:void(0)" class="closebtn"><i class="fa fa-times" aria-hidden="true"></i></a>
            <li class="sidebar-brand">
                <a href="/">{{site.title}}</a>
            </li>
            {% for page in site.pages %}
             <li>
                <a href="{{page.url}}">{{page.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>

