/*
    Estrutura Front-End 
    Versão 1.0
    Descrição: Framework
    Março 2017
*/

/***** CUSTOMIZAÇÃO DOS ELEMENTOS*****/


/*Alerts*/

.alert-success-colossus{
background-color: #4caf50;
}

.alert-info-colossus{
background-color: #ffeb3b;
}

